@mixin transparentBg ($size: 10px) {
  background:
    linear-gradient(45deg, #e1e1e1 25%, transparent 0, transparent 75%, #e1e1e1 0),
    linear-gradient(45deg, #e1e1e1 25%, transparent 0, transparent 75%, #e1e1e1 0),
    #fff;
  background-position: 0 0, calc($size / 2) calc($size / 2);
  background-size: $size $size;
}

@mixin textEllipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}